<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="landevu.infrastructure.mapper.StationsMapper">

    <select id="findById" resultType="landevu.infrastructure.dao.StationDao">
        select * from landevu.stations where station_id = #{stationId}
    </select>

    <select id="findByTrainLineId" resultType="landevu.infrastructure.dao.StationDao">
        select * from landevu.stations where train_line_id = #{trainLineId}
    </select>

    <select id="findByAreaId" resultType="landevu.infrastructure.dao.StationDao">
        select * from landevu.stations where area_id = #{areaId}
    </select>

    <select id="searchByName" resultType="landevu.infrastructure.dao.StationDao">
        select * from landevu.stations where station_name like concat('%', #{stationName}, '%')
    </select>
</mapper>
