<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="landevu.repository.mapper.TrainLinesMapper">

    <select id="findById" resultType="landevu.repository.dao.TrainLineDao">
        select * from landevu.train_lines where train_line_id = #{trainLineId}
    </select>

    <select id="findAll" resultType="landevu.repository.dao.TrainLineDao">
        select * from landevu.train_lines
    </select>
</mapper>
